<div class="page-wrapper">
  <div class="alert alert-warning" id="fadeOutMessage22">
    <%= __('review.best_practice') %><br />
      <%= __('review.best_practice_1') %><br />
        <%= __('review.best_practice_2') %><br />
          <%= __('review.best_practice_3') %><br />
            <%= __('review.best_practice_4') %>: <a target="_blank" href="https://www.coctohug.xyz/">Website</a> /
              <a target="_blank" href="https://github.com/raingggg/coctohug">Github</a> / <a target="_blank"
                href="https://github.com/raingggg/coctohug/discussions">Discussions</a> / <a target="_blank"
                href="https://discord.com/invite/RcVpCw3ef7">Discord</a>
  </div>
  <div class="container visually-hidden">
    <%= __('best.donation') %><br />
      XCH: <strong
        class="text-monospace text-success">xch19kd25xefdzppt0n75yjrvfkwmmrgummyg87qpkfvmezdk7tvk9fsygctmy</strong>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">
          <%= __('general.webLink') %>
        </th>
        <th scope="col">
          <%= __('home.notes_head') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a target="_blank" href="https://forkschiaexchange.com/">forkschiaexchange</a></td>
        <td>
          <%= __('general.forksExchange') %>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td><a target="_blank" href="https://market.posat.io/">posat</a></td>
        <td>
          <%= __('general.forksExchange') %>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td><a target="_blank" href="https://chiaforksblockchain.com/">chiaforksblockchain</a></td>
        <td>
          <%= __('general.dbcenter') %>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td><a target="_blank" href="https://alltheblocks.net/">alltheblocks</a></td>
        <td>
          <%= __('general.blockchainExplorer') %>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td><a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1ttIK-TQwwWeY4XarapjKAYJIgDJ5Kk9yjvBPLIlrpdg/edit#gid=619668174">chia
            forks</a></td>
        <td>
          <%= __('best.forkslist') %>
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td><a target="_blank"
            href="https://discord.gg/Df8s3KAg5n">MaxPost</a></td>
        <td>
          <%= __('best.forkslist') %>
        </td>
      </tr>
    </tbody>
  </table>
</div>