<div class="page-wrapper">
  <div class="alert alert-warning" id="fadeOutMessage22">
    <%= __('review.best_practice') %><br />
      <%= __('review.best_practice_1') %><br />
        <%= __('review.best_practice_2') %><br />
          <%= __('review.best_practice_3') %><br />
            <%= __('review.best_practice_4') %>: <a target="_blank" href="https://www.coctohug.xyz/">Website</a> /
              <a target="_blank" href="https://github.com/raingggg/coctohug">Github</a> / <a target="_blank"
                href="https://github.com/raingggg/coctohug/discussions">Discussions</a> / <a target="_blank"
                href="https://discord.com/invite/RcVpCw3ef7">Discord</a>
  </div>
</div>