<div class="page-wrapper">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td>
          <%= __('general.hostname') %>
        </td>
        <td>
          <%= __('general.blockchain') %>
        </td>
        <td>
          <%= __('general.mode') %>
        </td>
        <td>
          <%= __('general.versions') %>
        </td>
        <td>
          <%= __('general.updatedAt') %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td>
            <input type="checkbox" name="handcheck" value="<%= index %>" data-hostname="<%= dt.hostname %>"
              data-blockchain="<%= dt.blockchain %>" />
          </td>
          <td>
            <%= dt.hostname %>
          </td>
          <td>
            <%= dt.blockchain %>
          </td>
          <td>
            <%= dt.mode %>
          </td>
          <td>
            <%- dt.versions && dt.versions.replace(/\n/g, "</br>" ) %>
          </td>
          <td>
            <%= dt.updatedAt.toLocaleString("en-US", {hour12: false}) %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-success" id="btnHandRemove">
          <%= __('hands.remove_selected') %>
        </button>
      </div>
    </div>
  </div>
</div>