<!DOCTYPE html>
<html>

<head>
  <title>
    <%= __('general.title') %>
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/jquery.tablesorter.theme.default.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/icomoon/style.css">
</head>

<body>
  <%- include('language'); -%>

    <%- include('header'); -%>

      <div class="container">
        <div class="row block-wrapper">
          <div class="col-2">
            <%- include('leftbar'); -%>
          </div>
          <div class="col-10">
            <div class="content-wrapper">
              <%- include(pageName); -%>
            </div>
          </div>
        </div>
      </div>

      <%- include('footer'); -%>
</body>

<script src="/javascripts/jquery-3.6.0.min.js"></script>
<script src="/javascripts/jquery.cookie.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/jquery.tablesorter.min.js"></script>
<!-- <script src="/javascripts/jquery.tablesorter.widgets.js"></script> -->
<script src="/javascripts/jquery.tablesorter.widget-columnSelector.js"></script>
<script src="/javascripts/md5.min.js"></script>
<script src="/javascripts/site.js"></script>

</html>