<div class="leftbar-wrapper">
  <ul>
    <li class="desktopViewMenu">
      <a href="/reviewWeb?pageType=reviewDesktop" class="link-primary"><span class="icon-leaf"></span> <span
          class="link-text">
          <%= __('leftbar.summary_table') %>
        </span></a>
    </li>
    <li>
      <a href="/reviewWeb?pageType=reviewMobile" class="link-primary"><span class="icon-leaf"></span> <span
          class="link-text">
          <%= __('leftbar.review') %>
        </span></a>
    </li>
    <li>
      <a href="/receivedCoinsWeb" class="link-primary"><span class="icon-coin-dollar"></span> <span class="link-text">
          <%= __('leftbar.received_coins') %>
        </span></a>
    </li>
    <li>
      <a href="/newsWeb" class="link-primary"><span class="icon-notification"></span> <span class="link-text">
          <%= __('leftbar.new_warnings') %>
        </span></a>
    </li>
    <li>
      <a href="/dailyReportWeb" class="link-primary"><span class="icon-brightness-contrast"></span> <span
          class="link-text">
          <%= __('leftbar.daily_report') %>
        </span></a>
    </li>
    <li>
      <a href="/weeklyReportWeb" class="link-primary"><span class="icon-calendar"></span> <span class="link-text">
          <%= __('leftbar.weekly_report') %>
        </span></a>
    </li>
    <li>
      <a href="/blockchainsWeb" class="link-primary"><span class="icon-link"></span> <span class="link-text">
          <%= __('leftbar.blockchains') %>
        </span></a>
    </li>
    <li>
      <a href="/connectionsWeb" class="link-primary"><span class="icon-sphere"></span> <span class="link-text">
          <%= __('leftbar.connections') %>
        </span></a>
    </li>
    <li>
      <a href="/walletsWeb" class="link-primary"><span class="icon-coin-dollar"></span> <span class="link-text">
          <%= __('leftbar.wallets') %>
        </span></a>
    </li>
    <li>
      <a href="/walletBalanceWeb" class="link-primary"><span class="icon-coin-dollar"></span> <span class="link-text">
          <%= __('leftbar.dollar_balance') %>
        </span></a>
    </li>
    <li>
      <a href="#" class="link-primary visually-hidden"><span class="icon-database"></span> <span class="link-text">
          <%= __('leftbar.plots') %>
        </span></a>
    </li>
    <li>
      <a href="/keysWeb" class="link-primary"><span class="icon-key2"></span> <span class="link-text">
          <%= __('leftbar.keys') %>
        </span></a>
    </li>
    <li>
      <a href="#" class="link-primary visually-hidden"><span class="icon-spinner10"></span> <span class="link-text">
          <%= __('leftbar.pools') %>
        </span></a>
    </li>
    <li>
      <a href="/handsWeb" class="link-primary"><span class="icon-point-up"></span> <span class="link-text">
          <%= __('leftbar.hands') %>
        </span></a>
    </li>
    <li>
      <a href="/bestWeb" class="link-primary"><span class="icon-point-up2"></span> <span class="link-text">
          <%= __('leftbar.best') %>
        </span></a>
    </li>
    <li>
      <a target="_blank" href="/docs/wiki/wiki.html" class="link-primary"><span class="icon-point-up2"></span> <span
          class="link-text fw-bold text-success">
          <%= __('leftbar.faq') %>
        </span></a>
    </li>
    <li class="setting">
      <a href="#" class="link-primary settings-link"><span class="icon-wrench"></span> <span class="link-text">
          <%= __('leftbar.settings') %>
        </span></a>
    </li>
    <li class="setting-li visually-hidden">
      <a href="/settingsWeb/restartWeb" class="setting-item link-primary"><span class="link-text">
          <%= __('leftbar.restart') %>
        </span></a>
    </li>
    <li class="setting-li visually-hidden">
      <a href="/settingsWeb/coldWalletWeb" class="setting-item link-primary"><span class="link-text">
          <%= __('leftbar.cold_wallet') %>
        </span></a>
    </li>
    <li class="setting-li visually-hidden">
      <a href="/settingsWeb/harvesterWeb" class="setting-item link-primary"><span class="link-text">
          <%= __('leftbar.allow_harvester') %>
        </span></a>
    </li>
    <li class="setting-li visually-hidden">
      <a href="/settingsWeb/resetPasswordWeb" class="setting-item link-primary"><span class="link-text">
          <%= __('leftbar.reset_password') %>
        </span></a>
    </li>
    <li class="setting-li visually-hidden">
      <a href="/settingsWeb/logout" class="setting-item link-primary"><span class="link-text">
          <%= __('leftbar.logout') %>
        </span></a>
    </li>
    <li>
      <span class="fs-6 opacity-50">
        <%= ['reviewDesktop', 'reviewMobile' ].includes(pageName) ? 'v' + webVersion: '' %>
      </span>
    </li>
  </ul>
</div>

<div class="passwordModalWrapper">
  <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">
            <%= __('leftbar.password_message') %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="password" class="formInput" id="inputSettingPassword" autocomplete="off">
          <div class="alert alert-danger visually-hidden" id="incorrectLoginPassword" role="alert">
            <%= __('password.incorrect') %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <%= __('general.cancel') %>
          </button>
          <button type="button" class="btn btn-success" id="btnSettingPassword">
            <%= __('general.submit') %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>