<div class="page-wrapper">
  <div class="container latestNewsDiv badge bg-success text-wrap">
    <%- latestNews %>
  </div>
  &nbsp;<input class="search blockchain-fuzzy-search" type="search" data-column="1" placeholder='(blockchain; fuzzy search... try "flax")'> <br>
  <table class="table table-striped table-hover generalMessageTable">
    <thead>
      <tr>
        <th>#</th>
        <th>
          <%= __('general.blockchain') %>
        </th>
        <th>
          <%= __('general.message') %>
        </th>
        <th>
          <%= __('general.createdAt') %>
        </th>
        <th>
          <%= __('general.hostname') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <img src="images/logos/<%= dt.blockchain %>-min.png" alt="<%= dt.blockchain %>" width="20" height="20">
            <b>
              <%= dt.blockchain %>
            </b>
          </td>
          <td>
            <%- dt.message && dt.message.replace(/\n/g, "<br/>" ) %>
          </td>
          <td>
            <%= dt.createdAt.toLocaleString("en-US", {hour12: false}) %>
          </td>
          <td>
            <%= dt.hostname %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>