<div class="page-wrapper">
  <div>
    <a class="nav-link" target="_blank" href="https://alltheblocks.net/nft-recovery">
      <%= __('general.nft_recovery') %>
    </a>
  </div>

  <table class="table table-striped table-hover" id="receivedCoinsTable">
    <thead>
      <tr>
        <th>#</th>
        <th class="blockchain">
          <%= __('general.blockchain') %>
        </th>
        <th class="message">
          <%= __('general.message') %>
        </th>
        <th class="createdAt">
          <%= __('general.createdAt') %>
        </th>
        <th class="hostname">
          <%= __('general.hostname') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td class="se_no">
            <%= index + 1 %>
          </td>
          <td class="blockchain">
            <img src="images/logos/<%= dt.blockchain %>-min.png" alt="<%= dt.blockchain %>" width="20" height="20">
            <b>
              <%= dt.blockchain %>
            </b>
          </td>
          <td class="message">
            <%= dt.message %>
          </td>
          <td class="createdAt">
            <%= dt.createdAt.toLocaleString("en-US", {hour12: false}) %>
          </td>
          <td class="hostname">
            <%= dt.hostname %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>