<div class="page-wrapper">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>
          <%= __('general.hostname') %>
        </td>
        <td>
          <%= __('general.blockchain') %>
        </td>
        <td>
          <%= __('general.updatedAt') %>
        </td>
        <td>
          <%= __('general.actions') %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td>
            <%= dt.hostname %>
          </td>
          <td>
            <%= dt.blockchain %>
          </td>
          <td>
            <%= dt.updatedAt.toLocaleString("en-US", {hour12: false}) %>
          </td>
          <td><button class="btn btn-outline-success restart" data-hostname="<%= dt.hostname %>"
              data-blockchain="<%= dt.blockchain %>">Restart</button></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>