<div class="page-wrapper" id="mobileReviewPage">
  <div class="mobile-review">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <% data.forEach(function(dt, dtIndex){ %>
          <div class="col">
            <div class="review-column <%= dt.status === 'Farming' ? 'Farming' : 'NotFarming' %>">
              <div><span>
                  <img src="images/logos/<%= dt.blockchain %>-min.png" alt="<%= dt.blockchain %>" width="20"
                    height="20">
                  <%= dt.blockchain %>
                </span><span>
                  <%= dtIndex + 1 %>
                </span><span>
                  <%= dt.status %>
                </span></div>
              <div class="total-coins" data-bs-html=true data-bs-toggle="tooltip" data-bs-placement="top"
                title="<div style='background: green;'><%= __('review.farmed') %>: <%= dt.total_coins %></br><%= __('review.balance') %> <%= dt.wallet_balance %></div>">
                <span>
                  <%= __('review.total_coins') %>:
                </span><span>
                  <%= dt.total_coins %>
                </span><span> - <%= dt.wallet_balance %></span>
              </div>
              <div class="plot-count" data-bs-html=true data-bs-toggle="tooltip" data-bs-placement="top"
                title="<%= __('review.plot_count') %>: <%= dt.plot_count %></br><%= __('review.plots_size') %>: <%= dt.plots_size %>">
                <span>
                  <%= __('review.plot_count') %>:
                </span><span>
                  <%= dt.plot_count %>
                </span><span> - <%= dt.plots_size %></span>
              </div>
              <div>
                <%= __('review.netspace_size') %>:
                  <%= dt.netspace_size %>
              </div>
              <div class="expect-win"><span>
                  <%= __('review.expected_time_to_win') %>:
                    <%= dt.expected_time_to_win %>
                </span></div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </div>
</div>