<div class="page-wrapper" id="desktopReviewPage">
  <div class="desktop-review container">
    <div class="viewRow">
      <button class="btn btn-outline-success btn-sm" id="btnSimpleView">
        <%= __('review.simple_view') %>
      </button>
      <button class="btn btn-outline-success btn-sm" id="btnStatusView">
        <%= __('review.status_view') %>
      </button>
      <button class="btn btn-outline-success btn-sm" id="btnBalanceView">
        <%= __('review.balance_view') %>
      </button>
      <button class="btn btn-outline-success btn-sm visually-hidden" id="btnFullView">
        <%= __('review.full_view') %>
      </button>
    </div>

    <div class="container badge bg-success visually-hidden" id="totalBalanceRow">
      <span>
        <%= __('balance.total_dollar_all_coins') %>
      </span>
      <span>
        $<%= allCoinsDollars %>
      </span>
    </div>

    <table id="reviewTable" class="table tablesorter">
      <thead>
        <tr>
          <th class="blockchain">
            <%= __('general.blockchain') %>
          </th>
          <th class="status">
            <%= __('review.chain_status') %>
          </th>
          <th class="chain_sync_to_time">
            <%= __('review.sync_at') %>
          </th>
          <th class="chain_height">
            <%= __('review.chain_height') %>
          </th>
          <th class="plot_count">
            <%= __('review.plot_count') %>
          </th>
          <th class="plots_size">
            <%= __('review.plots_size') %>
          </th>
          <th class="netspace_size">
            <%= __('review.netspace_size') %>
          </th>
          <th class="expected_time_to_win">
            <%= __('review.expected_time_to_win') %>
          </th>
          <th class="connection_count">
            <%= __('review.connect_count') %>
          </th>
          <th class="wallet_status">
            <%= __('review.wallet_status') %>
          </th>
          <th class="wallet_height">
            <%= __('review.wallet_heigt') %>
          </th>
          <th class="symbol">
            <%= __('review.token_name') %>
          </th>
          <th class="coin_price">
            <%= __('review.token_price') %>
          </th>
          <th class="total_coins">
            <%= __('review.mined_count') %>
          </th>
          <th class="wallet_balance">
            <%= __('review.wallet_balance') %>
          </th>
          <th class="reward_balance">
            <%= __('review.reward_balance') %>
          </th>
          <th class="total_price">
            <%= __('review.total_usd_value') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(dt, dtIndex){ %>
          <tr class="<%= dt.invalid_farm_status ? 'table-warning' : 'table-success' %>">
            <td class="blockchain">
              <b>
                <%= dt.blockchain %>
              </b>
            </td>
            <td class="status <%= dt.invalid_farm_status ? 'text-danger' : '' %>">
              <%= dt.status %>
            </td>
            <td class="chain_sync_to_time <%= dt.invalid_chain_status ? 'text-danger' : '' %>">
              <%= dt.chain_sync_to_time && dt.chain_sync_to_time.toLocaleString("en-US", {hour12: false}) %>
            </td>
            <td class="chain_height">
              <%= dt.chain_height %>
            </td>
            <td class="plot_count">
              <%= dt.plot_count %>
            </td>
            <td class="plots_size">
              <%= dt.plots_size %>
            </td>
            <td class="netspace_size">
              <%= dt.netspace_size %>
            </td>
            <td class="expected_time_to_win">
              <%= dt.expected_time_to_win %>
            </td>
            <td class="connection_count <%= dt.invalid_connection_status ? 'text-danger' : '' %>">
              <%= dt.connection_count %>
            </td>
            <td class="wallet_status <%= dt.invalid_wallet_status ? 'text-danger' : '' %>">
              <%= dt.wallet_status %>
            </td>
            <td class="wallet_height">
              <%= dt.wallet_height %>
            </td>
            <td class="symbol">
              <b>
                <%= dt.symbol %>
              </b>
            </td>
            <td class="coin_price">
              <%= dt.coin_price %>
            </td>
            <td class="total_coins">
              <%= dt.total_coins %>
            </td>
            <td class="wallet_balance">
              <%= dt.wallet_balance %>
            </td>
            <td class="reward_balance">
              <%= dt.reward_balance %>
            </td>
            <td class="total_price">
              <%= dt.total_price %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>