    <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <% data.forEach(function(dt){ %>
          <div class="col">
            <div class="review-column <%= dt.status === 'Farming' ? 'Farming' : 'NotFarming' %>">
              <div><%= dt.blockchain %> <%= dt.status %></div>
              <div class="total-coins"><span>total_coins: </span><span><%= dt.total_coins %></span></div>
              <div class="plot-count"><span>plot_count: </span><span><%= dt.plot_count %></span></div>
              <div>plots_size: <%= dt.plots_size %></div>
              <div>netspace_size: <%= dt.netspace_size %></div>
              <div>expected_time_to_win: <%= dt.expected_time_to_win %></div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>