<div class="page-wrapper">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs">
          <% data.forEach(function(dt, index){ %>
            <li class="nav-item">
              <a class="nav-link nav-tab <%= index === 0 ? 'active' : '' %> <%= dt.status %>" href="#"
                data-tabp-index="<%= index %>"><span>
                  <img src="images/logos/<%= dt.blockchain %>-min.png" alt="<%= dt.blockchain %>" width="20"
                    height="20">
                  <%= dt.blockchain %>
                </span><span>
                  <%= index + 1 %>
                </span></a>
            </li>
            <% }); %>
        </ul>
      </div>
    </div>
  </nav>

  <% data.forEach(function(dt, index){ %>
    <div class="tab-panel <%= index === 0 ? '' : 'd-none' %>" data-panel-index="<%= index %>">
      <div><a class="nav-link" target="_blank" href="<%= dt.coldWalletOnline %>">
          <%= __('wallets.check_farming_rewards') %>
        </a>
        <span>
          <%= __('balance.address') %>:
        </span> <span>
          <%= dt.coldWallet %>
        </span>
        <p>
          <span>
            <%= __('general.updatedAt') %>
              <%= dt.updatedAt.toLocaleString("en-US", {hour12: false}) %>
          </span>
          <span class="claimNFTWrapper" data-blockchain="<%= dt.blockchain %>" data-hostname="<%= dt.hostname %>">
            <% if (dt.blockchain==='chia' ) { %>
              <button class="btn btn-success btn-sm chiaClaimNFTButton">
                <%= __('general.nft_recovery') %>
              </button>
              <% } %>
          </span>
        </p>
      </div>
      <div>
        <hr>
        <%- dt.details && dt.details.replace(/\n/g, "</br>" ) %>
      </div>
      <div class="transferMoney" data-blockchain="<%= dt.blockchain %>" data-hostname="<%= dt.hostname %>">
        <hr>
        <div>
          <span class="formLabel">
            <%= __('wallets.recipient_address') %>
          </span> <input type="text" class="formInput toAddress">
        </div>
        <div>
          <span class="formLabel">
            <%= __('wallets.transfer_amount') %>
          </span> <input type="text" class="formInput amount">
        </div>
        <div>
          <span class="formLabel">
            <%= __('wallets.your_password') %>
          </span> <input type="password" class="formInput password" autocomplete="off">
        </div>

        <div class="alert alert-success visually-hidden transferSuccess" role="alert">
          <%= __('wallets.transfer_success') %>
        </div>
        <div class="alert alert-danger visually-hidden transferIncorrectPassword" role="alert">
          <%= __('password.incorrect') %>
        </div>
        <div class="alert alert-danger visually-hidden transferIncorrectFields" role="alert">
          <%= __('wallets.transfer_incorrect_fields') %>
        </div>

        <div>
          <button class="btn btn-outline-danger actionButton tranferButton">
            <%= __('wallets.transfer_with_password') %>
          </button>
        </div>
      </div>
    </div>
    <% }); %>
</div>