<div class="page-wrapper">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs">
          <% data.forEach(function(dt, index){ %>
            <li class="nav-item">
              <a class="nav-link nav-tab <%= index === 0 ? 'active' : '' %>" href="#" data-tabp-index="<%= index %>"><%= dt.blockchain %></a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </nav>

  <% data.forEach(function(dt, index){ %>
    <div class="tab-panel <%= index === 0 ? '' : 'd-none' %>" data-panel-index="<%= index %>">
      <div>last_update: <%= dt.updatedAt %></div>
      <div>hostname: <%= dt.hostname %></div>
      <div>blockchain: <%= dt.blockchain %></div>
      <div style="white-space: pre-wrap;word-break: break-word;">details: <%= dt.details %></div>
    </div>
  <% }); %>
</div>