<div class="page-wrapper">
  <div class="container badge bg-success">
    <span>
      <%= __('balance.total_dollar_all_coins') %>
    </span>
    <span>
      $<%= allCoinsDollars %>
    </span>
    <span>
      --- <%= __('general.updatedAt') %>
        <%= lastUpdatedAt.toLocaleString("en-US", {hour12: false}) %>
    </span>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td>
          <%= __('general.blockchain') %>
        </td>
        <td>
          <%= __('balance.balance') %>
        </td>
        <td>
          <%= __('balance.price') %>
        </td>
        <td>
          <%= __('balance.total_price') %>
        </td>
        <td>
          <%= __('balance.address') %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td>
            <input type="checkbox" name="wbcheck" value="<%= index %>" data-address="<%= dt.address %>"
              data-blockchain="<%= dt.blockchain %>" />
          </td>
          <td>
            <%= dt.blockchain %>
          </td>
          <td>
            <%= dt.balance %>
          </td>
          <td>
            <%= dt.price %>
          </td>
          <td>
            <%= dt.total_price %>
          </td>
          <td>
            <span class="d-inline-block text-truncate" style="max-width: 150px;">
              <%= dt.address %>
            </span>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <button class="btn btn-outline-success" id="btnWalletBalanceRemove">
          <%= __('hands.remove_selected') %>
        </button>
      </div>
      <div class="col-1">
        <input class="form-control me-2 new-connection" type="text" placeholder="chia" id="newBalanceName">
      </div>
      <div class="col-7">
        <input class="form-control me-2 new-connection" type="text"
          placeholder="xch1hheexed9apm4cpln96gk2epkv850y357rkmgwhhst4evu84vpwxqldw3vg" id="newBalanceAddress">
      </div>
      <div class="col-2">
        <button class="btn btn-outline-success text-right" id="btnWalletBalanceAdd">
          <%= __('general.addNew') %>
        </button>
      </div>
    </div>
    <p></p>
  </div>
</div>