<div class="page-wrapper">
  <table class="table table-striped table-hover generalMessageTable">
    <thead>
      <tr>
        <th class="se_no">#</th>
        <th class="blockchain">
          <%= __('general.blockchain') %>
        </th>
        <th class="symbol">
          <%= __('review.token_name') %>
        </th>
        <th class="coins">
          <%= __('review.total_coins') %>
        </th>
        <th class="createdAt">
          <%= __('general.createdAt') %>
        </th>
        <th class="hostname">
          <%= __('general.hostname') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(dt, index){ %>
        <tr>
          <td class="se_no">
            <%= index + 1 %>
          </td>
          <td class="blockchain">
            <img src="images/logos/<%= dt.blockchain %>-min.png" alt="<%= dt.blockchain %>" width="20" height="20">
            <b>
              <%= dt.blockchain %>
            </b>
          </td>
          <td class="symbol">
            <b>
              <%= dt.symbol %>
            </b>
          </td>
          <td class="coins">
            <%= dt.coins %>
          </td>
          <td class="createdAt">
            <%= dt.createdAt.toLocaleString("en-US", {hour12: false}) %>
          </td>
          <td class="hostname">
            <%= dt.hostname %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>